@define-color bg  #000000;
@define-color fg  #AEAFB0;
@define-color sep #151826;

@define-color bg-focused  #000000;
@define-color fg-focused  #E4E4E5;
@define-color bg-active   #131A24;
@define-color fg-active   #86ABDC;
@define-color bg-inactive #131A24;
@define-color fg-inactive #AEAFB0;
@define-color bg-urgent   #000000;
@define-color fg-urgent   #F4A261;
@define-color bg-binding  #000000;
@define-color fg-binding  #BAA1E2;

@define-color fg-good     #8EBAA4;
@define-color fg-degraded #E0C989;
@define-color fg-bad      #D16983;

* {
  border: none;
  border-radius: 0;
  color: @fg;
  font-family: Cozette;
  font-size: 13px;
  padding: 0;
  box-shadow: none;
  margin: 1px;
}

window#waybar {
  background-color: @bg;
  border: 1px solid @sep;
}

.module-left, .module-center, .module-right {
  padding: 1px;
}

#workspaces button {
  background-color: @bg-inactive;
  color: @fg-inactive;
  padding: 0 4px;
  transition-duration: .2s;
}

#workspaces button label {
  color: inherit;
}

#workspaces button.focused {
  background-color: @bg-focused;
  color: @fg-focused;
}

#workspaces button:hover {
  background-color: @bg-active;
  color: @fg-active;
}

#workspaces button.urgent {
  background-color: @bg-urgent;
  color: @fg-urgent;
}

#mode {
  background-color: @bg-binding;
  color: @fg_binding;
}

#network,
#cpu,
#memory,
#temperature,
#wireplumber,
#battery,
#clock {
  background-color: @sep;
  padding: 0 8px;
}

label {
  color: inherit;
}

#window {
  color: @fg-inactive;
}

#network {
  color: @fg-good;
}

#network.disabled, #network.disconnected {
    color: @fg-bad;
}

@keyframes blink {
  to {
    color: @sep;
  }
}

#temperature.critical {
  color: @fg-bad;
}

#battery.charging {
  color: @fg-good;
}

#battery.warning:not(charging), #battery.critical.charging {
  color: @fg-degraded;
}

#battery.critical:not(.charging) {
  color: @fg-bad;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
