* {
  border: none;
  border-radius: 0;
  color: @fg;
  font-family: kirsch;
  font-size: 16px;
  padding: 0;
  box-shadow: none;
  margin: 1px;
}

window#waybar {
  background-color: @bg;
  border: 1px solid @sep;
}

.module-left, .module-center, .module-right {
  padding: 1px;
}

#workspaces button, #tags button {
  background-color: @bg-inactive;
  color: @fg-inactive;
  padding: 0 4px;
  transition-duration: .2s;
}

#workspaces button label, #tags button label {
  color: inherit;
}

#workspaces button.focused, #tags button.focused {
  background-color: @bg-focused;
  color: @fg-focused;
}

#workspaces button:hover, #tags button:hover {
  background-color: @bg-active;
  color: @fg-active;
}

#workspaces button.urgent, #tags button.urgent {
  background-color: @bg-urgent;
  color: @fg-urgent;
}

#mode {
  background-color: @bg-binding;
  color: @fg-binding;
  padding: 0 8px;
}

#network,
#cpu,
#memory,
#temperature,
#wireplumber,
#backlight,
#battery,
#clock {
  background-color: @sep;
  padding: 0 8px;
}

label {
  color: inherit;
}

#window {
  color: @fg-inactive;
}

#network {
  color: @fg-good;
}

#network.disabled, #network.disconnected {
    color: @fg-bad;
}

@keyframes blink {
  to {
    color: @sep;
  }
}

#cpu.warning, #memory.warning {
  color: @fg-degraded;
}

#cpu.critical, #memory.critical {
  color: @fg-bad;
}

#temperature {
  color: @fg-degraded;
}

#temperature.critical {
  color: @fg-bad;
}

#wireplumber.muted {
  color: @fg-bad;
}

#backlight {
  color: @fg-degraded;
}

#battery.charging {
  color: @fg-good;
}

#battery.warning:not(charging), #battery.critical.charging {
  color: @fg-degraded;
}

#battery.critical:not(.charging) {
  color: @fg-bad;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#clock {
  color: @fg-active;
}
